p > img {
  display: block;
  margin: auto;
}
.note {
  text-align: center;
}
p > strong > span {
  text-transform: uppercase;
}
.share-button {
  display: flex;
}
.share-button button {
  background-color: rgb(24, 119, 242);
  color: white;
  border-radius: 2px;
  font-size: 12px;
  margin-right: 5px;
}
.share-button i {
  margin-right: 2px;
}
.share-button a {
  background-color: var(--color_one);
  color: white;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 2px;
}
.share-button i.zb-logo-zalo {
  display: inline-block;
  background-image: url(https://stc.sp.zdn.vn/share/logo_white_s.png);
  width: 13px;
  height: 13px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.key-words label,
.category-news label {
  font-weight: bold;
  margin-right: 5px;
}
.key-words {
  display: flex;
  border-bottom: 1px solid var(--color_six);
  padding: 10px 0 20px;
}
.category-news {
  padding: 10px 0 20px;
}
.category-news li {
  border-bottom: 1px dashed var(--color_six);
  padding: 10px 0;
}
.category-news li a {
  text-transform: uppercase;
  font-size: 12px;
}
.header-h1 {
  color: var(--color_one);
  font-size: 28px;
}
.detail-news img {
  max-width: 100%;
}
