.cart-detail-wrapper {
  margin-bottom: 50px;
}
.cart-detail h4 {
  text-align: center;
  padding: 20px 0 30px;
  font-size: 34px;
}
#cart-detail-empty {
  text-align: center;
}
.header-cart {
  background-color: var(--color_one);
  height: 40px;
  color: white;
  line-height: 2;
  font-size: 16px;
}
.cart-detail,
.table-body:not(:first-child) {
  display: none;
}
.table-body {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color_six);
}
.table-body.active,
.cart-detail.active {
  display: block;
}

.image-product-cart img {
  max-width: 100%;
}
.title-product-title {
  display: flex;
  justify-content: center;
}
.title-product-title,
.cart-detail-child,
.cart-detail-child .row {
  height: 100%;
  align-items: center;
}

.title-product-title {
  font-size: 16px;
}
/* .cart-detail-content {
  margin-left: -7.5px;
  margin-right: -7.5px;
} */
.table-body .h4 {
  font-size: 14px;
  width: 100%;
  display: none;
}
.title-product-title a,
.table-body .h4 {
  color: rgb(221, 106, 11);
}

.table-body:not(:first-child) .border-cart {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* input number */

.number-pro {
  position: relative;
  display: block;
  /*  */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  margin-left: 36px !important;
  color: var(--color_five);
}

.number-pro input {
  width: 40px;
  height: 35px;
  line-height: 1.65;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  font-size: 14px;
  border: 0.5px solid var(--color_six);
  margin-left: -5px !important;
}

.quantity-button {
  position: absolute;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 100%;

  text-align: center;
  color: var(--color_five);
  font-size: 13px;
  font-family: "FontAwesome" !important;
  line-height: 1.5;
  padding: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: var(--color_one);
  border: none;
  color: white;
  font-size: 16px;
}

.quantity-button.quantity-up {
  top: 0;
  left: 78%;
  line-height: 1.6;
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.quantity-button.quantity-down {
  top: 0;
  left: 38%;
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.cart-detail-child i {
  color: var(--color_one);
}
.note-cart-left textarea {
  border-radius: 5px;
  width: 100%;
  height: 80px;
  outline: none;
  padding-left: 10px;
}
.note-cart-left label {
  font-weight: bold;
}
.note-cart-left textarea::placeholder {
  font-size: 13px;
}
.note-cart-right {
  float: right;
}
.note-cart-right .total {
  text-align: right;
  margin-bottom: 10px;
}
.note-cart-right .total span:nth-child(2) {
  font-size: 24px;
  margin-left: 5px;
  font-weight: bold;
}
.note-cart-right a:nth-child(2) {
  background-color: var(--color_nine);
}
.note-cart-right a:nth-child(3) {
  background-color: var(--color_one);
}
.note-cart-right a,
.note-cart-right a:hover {
  color: white;
}
@media (max-width: 576px) {
  .table-body .h4 {
    display: inline-block;
  }
  .quantity-button {
    width: 25px;
    height: 30px;
  }
  .number-pro input {
    height: 30px;
  }
  .cart-detail-child .row > div {
    height: 100%;
  }
  .cart-detail-body h4 {
    font-size: 26px !important;
  }
  .header-cart {
    font-size: 14px;
    line-height: 2.5;
  }
  .quantity-button.quantity-down {
    left: 32%;
  }
  .table-body {
    border: none;
  }
  .table-body:not(:first-child) .border-cart {
    border-bottom: 1px solid var(--color_six);
  }
  .title-product-title {
    align-items: flex-start;
  }
}
@media (min-width: 414px) and (max-width: 576px) {
  .quantity-button.quantity-up {
    left: 85%;
  }
}
@media (max-width: 414px) and (min-width: 375px) {
  .quantity-button.quantity-up {
    left: 95%;
  }
}
@media (max-width: 374px) {
  .quantity-button.quantity-up {
    left: 100%;
  }
  .quantity-button {
    width: 20px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .quantity-button.quantity-up {
    left: 85%;
  }
  .quantity-button.quantity-down {
    left: 35%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .quantity-button.quantity-up {
    left: 95%;
  }

  .quantity-button.quantity-down {
    left: 30%;
  }
}
