.opacity-body {
  z-index: 70000;
  background-color: rgba(45, 45, 50, 0.8) !important;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}

#menu-mobile-left {
  height: 100vh;
  top: 0;
  left: -50%;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 300px;
  width: 50%;
  transition: 0.5s ease;
}

#menu-mobile-left.active {
  left: 0;
}
#menu-mobile-left .menu-mobile-content {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: 1s ease;
  background-color: white;
  /*  */
}
#menu-mobile-left .login-mobile .breadcrumb-header-item a,
#menu-mobile-left .close {
  color: white;
  opacity: 1;
}
#menu-mobile-left .login-mobile .breadcrumb-header-item a:hover {
  color: white;
}
#menu-mobile-left .menu-mobile-top {
  background-color: var(--color_one);
  padding: 20px 10px;
  color: white;
}
.modal1.active {
  visibility: visible !important;
}
.modal1 {
  position: fixed;
  z-index: 70000;
  visibility: hidden;
  /* background-color: white; */
  /* width: 100% ; */
}
.menu-mobile-bottom {
  background-color: white;
}
/* chi tiết sản phẩm  */
#detail-product-modal {
  width: 100%;
  height: 50%;
  max-height: 485px;
  top: -150px;
  opacity: 0;
  /* left: 20%; */
  transition: 0.5s ease;
}
#detail-product-modal .modal-item-content {
  padding: 3% 3%;
  margin: auto;
  width: 80%;
  max-width: 900px;
  background-color: white;
  border-radius: 10px;
}
#detail-product-modal.active {
  top: 40px;
  opacity: 1;
}
/* tạo nút cho input number */

#detail-product-modal .number-pro {
  position: relative;
  display: block;
  /*  */
}

#detail-product-modal
  .detail-product-number
  input[type="number"]::-webkit-inner-spin-button,
.detail-product-number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#detail-product-modal .detail-product-number input[type="number"] {
  -moz-appearance: textfield;
  margin-left: 36px !important;
  color: var(--color_five);
}

#detail-product-modal .number-pro input {
  width: 40px;
  height: 35px;
  line-height: 1.65;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  border: none;
  font-size: 14px;
  border: 0.5px solid var(--color_three);
}

#detail-product-modal .quantity-button {
  position: absolute;
  cursor: pointer;
  border: none;
  width: 35px;
  height: 100%;

  text-align: center;
  color: var(--color_five);
  font-size: 13px;
  font-family: "FontAwesome" !important;
  line-height: 1.5;
  padding: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: white;
  border: 0.5px solid var(--color_three);
}

#detail-product-modal .quantity-button.quantity-up {
  top: 0;
  left: 110.5px;
  line-height: 1.6;
  border-left: none;
}

#detail-product-modal .quantity-button.quantity-down {
  top: 0;
  left: 35.5px;
  border-right: none;
}

/*  */
#detail-product-modal .detail-product-weight .select-info label {
  position: relative;
  height: 30px;
  padding: 5px 13px;
  border: 1px solid var(--color_six);
  margin-right: 10px;
  color: var(--color_five);
}
#detail-product-modal .detail-product-weight .select-info {
  display: flex;
}
#detail-product-modal .detail-product-weight .select-info input {
  display: none;
}
#detail-product-modal .detail-product-weight .checkmark {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  display: none;
  background-image: url(https://theme.hstatic.net/1000281673/1000364229/14/checkbox-pro.png);
  background-repeat: no-repeat;
}

#detail-product-modal
  .detail-product-weight
  .select-info
  label
  input:checked
  ~ .checkmark {
  display: block;
}
#detail-product-modal .detail-product-weight .select-info label.active {
  border-color: rgb(255, 115, 128);
}
#detail-product-modal .detail-product-number > button {
  background-color: white;
  border: solid 1px var(--color_one);
  color: var(--color_one);
  width: 50%;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 20px;
}
#detail-product-modal .detail-product-content > div:not(:last-child) {
  border-bottom: solid 1px var(--color_six);
}
#detail-product-modal .detail-product-content > div {
  padding-bottom: 10px;
  margin-top: 10px;
}
#detail-product-modal .detail-product-content > h2 {
  font-size: 24px;
}

#detail-product-modal .detail-price-product del,
#detail-product-modal .detail-price-product div span,
#detail-product-modal .detail-product-weight > label,
#detail-product-modal .number-button > label {
  font-weight: bold;
}
#detail-product-modal .detail-price-product > span {
  font-size: 26px;
  color: var(--color_nine);
}
#detail-product-modal .detail-price-product div span {
  color: var(--color_one);
}
/*  */
#list-small img {
  max-width: 90%;
  width: 90%;
  height: auto;
  opacity: 0.5;
  margin: auto;
}

#list-small {
  position: relative;
}
#list-small .owl-nav button {
  position: absolute;
  top: 30%;
  z-index: 10;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  color: black;
  transition: 0.5s ease;
  opacity: 0;
}

#list-small .owl-nav button:first-child {
  left: -40px;
}
#list-small .owl-nav button:last-child {
  right: -40px;
}
#list-small .owl-nav button i {
  font-size: 10px;
}

#list-small:hover .owl-nav button:first-child {
  left: 10px;
  opacity: 1;
}
#list-small:hover .owl-nav button:last-child {
  right: 10px;
  opacity: 1;
}
#list-small .image-item div {
  position: relative;
  text-align: center;
  cursor: pointer;
}
#list-small .image-item div.active1:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid red;
  position: absolute;
  top: -6px;
}
#list-small div.active1 img {
  opacity: 1;
}
#list-small .image-item div.active1 {
  border: 0.5px solid red;
}
#list-small .owl-stage {
  padding: 10px 0 5px;
}
.image-detail-product {
  width: 100%;
}
.image-detail-product img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 355px;
}
#cart-box-modal {
  top: 20vh;
  width: 40%;
  left: 30%;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s ease;
}
#cart-box-modal p {
  padding: 20px;
  border-bottom: 1px solid var(--color_eight);
  margin: 0;
}
#cart-box-modal p a {
  text-decoration: underline;
}
#cart-box-modal .modal-button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
#cart-box-modal .modal-button a {
  padding: 5px 10px;
  color: white;
}
#cart-box-modal .modal-button a i {
  margin-right: 5px;
}
#cart-box-modal .modal-button a:nth-child(1) {
  background-color: var(--color_nine);
  margin-right: 10px;
}
#cart-box-modal .modal-button a:nth-child(2) {
  background-color: var(--color_one);
}
#cart-box-modal .close {
  background-color: var(--color_one);
  opacity: 1;
  width: 30px;
  height: 30px;
  border-top-right-radius: 5px;
  color: white;
  font-weight: normal;
}
#cart-box-modal.active {
  opacity: 1;
  top: 30vh;
}
/*  */
@media only screen and (max-width: 768px) {
  .detail-product-content > h2 {
    font-size: 18px;
    margin-bottom: 0 !important;
  }
  .detail-product-content {
    font-size: 12px;
  }
  .detail-product-info > p {
    margin: 5px 0;
  }
  .detail-product-info {
    margin-top: 0;
  }
  .detail-price-product > span {
    font-size: 16px;
  }
  .detail-price-product label {
    margin-bottom: 0;
  }
}
