h1 {
  font-size: 24px;
}

.news-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px dashed var(--color_six);
}

.news-image img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.news-image {
  width: 35%;
  max-width: 100%;
}
.news-detail {
  width: 64%;
}

.news-detail h2 {
  font-size: 20px;
}
.news-detail strong {
  font-size: 13px;
}
/*  */
.blog-banner h3 {
  background-color: var(--color_one);
  color: white;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  font-size: 18px;
}
.blog-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blog-image {
  width: 35%;
  max-width: 100%;
}
.blog-image img {
  width: 100%;
  max-width: 80%;
  display: block;
  margin: auto;
}
.blog-item-child {
  width: 60%;
}
.blog-item-child h4 {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 0.5px dashed var(--color_six);
  padding: 0 0 10px 0;
  margin: 0;
}
.post-infomation {
  color: var(--color_six);
  font-size: 12px;
}

.blog-banner .category-content > ul > li {
  border-bottom: 1px solid var(--color_six);
  position: relative;
}
.blog-banner .category-content ul li a {
  padding: 10px;
  display: inline-block;
  color: var(--color_five);
  /* font-weight: bold; */
}
.blog-banner .category-item ul {
  display: none;
}
.blog-banner .category-item ul li {
  border-top: 1px solid var(--color_six);
}
.blog-banner .category-item ul a {
  padding: 10px 20px !important;
}
.blog-banner .category-item ul.active {
  display: block;
}
@media only screen and (min-width: 260px) and (max-width: 319px) {
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
}
@media only screen and (min-width: 411px) and (max-width: 449px) {
}
@media only screen and (min-width: 450px) and (max-width: 576px) {
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 450px) {
  .blog-item,
  .news-item {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .blog-image,
  .blog-item-child {
    width: 90%;
    margin: auto;
  }
  .news-image,
  .news-detail {
    width: 100%;
  }
  .blog-image {
    box-shadow: 0px 0px 10px -3px var(--color_ten);
    padding: 10px;
    margin-bottom: 10px;
  }
  .blog-item-child h4 {
    font-size: 18px;
  }
  .blog-banner {
    margin-top: 30px;
  }
}
