.image-banner img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.title-filter {
  background-color: var(--color_one);
  color: white;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.filter-box {
  background-color: rgb(239, 239, 239);
  padding: 0 10px;
  margin-bottom: 10px;
}
.filter-box p {
  border-bottom: 1px dashed var(--color_six);
  padding: 10px 0;
  font-weight: bold;
}
.checkbox li {
  padding-bottom: 10px;
}
.checkbox label {
  display: block;
  position: relative;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 0 0 30px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.trademark-checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 0.5px solid var(--color_six);
  border-radius: 2px;
}

.trademark-checkmark::after {
  left: 4px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--color_one);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}

.checkbox label input:checked ~ .trademark-checkmark::after {
  display: block;
}
.view-change button {
  height: 35px;
  width: 35px;
  background-color: white;
  border: 1px solid var(--color_six);
  color: var(--color_six);
}
.view-change span:before {
  font-size: 20px;
}
.view-change button.active {
  border-color: var(--color_two);
  color: var(--color_two);
}

.product-list-box > div {
  margin-bottom: 20px;
}
/*  product list */

.product-list > ul > li {
  padding-bottom: 15px;
}
.product-list .product-item {
  border: solid 0.5px rgb(147, 147, 147);
  border-radius: 5px;
}
.product-image {
  position: relative;
  overflow: hidden;
}
.product-image img {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  margin: auto;
}
.product-info {
  padding: 10px 0;
}
.product-info h3 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.product-price {
  text-align: center;
}
.product-price .price {
  color: rgb(15, 158, 216);
  font-weight: bold;
}
.product-price del {
  font-size: 13px;
}
.label-sale {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: rgb(15, 158, 216);
  top: 5px;
  left: 5px;
  text-align: center;
  line-height: 3.5;
}

.quick-view a {
  position: absolute;
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 2.1;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  top: -40px;
}
.quick-view a:first-child {
  transition: 0.3s ease-out;
  left: 27%;
}
.quick-view a:last-child {
  transition: 0.3s ease-out;
  left: 52%;
}
.product-list .product-item:hover a:first-child {
  transition-delay: 0.3s;
}
.product-list .product-item:hover .quick-view a {
  top: 50%;
  opacity: 1;
  transition: 0.5 ease !important;
}
.product-item-large {
  /* border-top: 1px solid var(--color_six); */
  border: 1px solid var(--color_six);
  padding-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.product-item-large .product-info .product-price span {
  color: var(--color_two);
}
.product-item-large .button-product {
  margin-top: 20px;
}
.product-item-large .button-product button {
  background-color: var(--color_nine);
  color: white;
  font-size: 14px;
}
.product-item-large .button-product button i {
  margin-right: 5px;
}

.product-list > ul {
  display: none;
}
.product-list > .active {
  display: flex;
  flex-wrap: wrap;
}

.product-list-box h1 {
  font-size: 24px;
}
.sort-filter select,
.sort-filter {
  height: 100%;
}
.sort-filter select,
.sort-filter select:hover,
.sort-filter:focus,
.sort-filter select:active {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .product-item-large .product-info h3,
  .product-item-large .product-info .product-price {
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .product-item-large .button-product {
    text-align: center;
  }
  .product-list-box h1 {
    font-size: 22px;
  }
  .filter-box-list {
    max-height: 0;
    overflow: hidden;
  }
  .filter-box-list.active {
    max-height: 100%;
  }
  .product-list-box h1{
    margin : 15px 0;
  }
}
